Adafruit-Blinka==8.39.1
adafruit-circuitpython-adxl34x==1.12.12
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-connectionmanager==1.0.1
adafruit-circuitpython-requests==3.2.5
adafruit-circuitpython-typing==1.10.3
adafruit-circuitpython-vl53l0x==3.6.11
adafruit-extended-bus==1.0.2
Adafruit-PlatformDetect==3.62.0
Adafruit-PureIO==1.1.11
pyftdi==0.55.4
pyserial==3.5
pyusb==1.2.1
typing_extensions==4.11.0
